:host ::ng-deep .login-title {
  text-align: center;
  margin-top: 1rem;
}

:host ::ng-deep .p-card {
  max-width: 40%;
  margin: 100px auto 0;
  padding: 2rem;
  text-align: center;
  background: #ffffff;
}

:host ::ng-deep .p-field {
  margin-bottom: 1rem;
}

:host ::ng-deep .login-button {
  width: 75%;
}

@media screen and (max-width: 700px){
  .login-button {
    width: 120px
  }
}

@media screen and (min-width: 701px){
  .login-button {
    width: 200px
  }
}

@media screen and (max-width: 700px) {
  .responsive-input {
    width: 120px;
  }
}

@media screen and (min-width: 701px) {
  .responsive-input {
    width: 200px;
  }
}

.responsive-heading {
  font-size: 32px;
}

@media screen and (max-width: 700px) {
  .responsive-heading {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .responsive-heading {
    font-size: 16px;
  }
}

