body {
    background-color: #f2efdc;
}

.screen-template{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-template{
    order: 1;    
    display: flex;
    align-items:center;
    padding: 15px;
}

.left-side-template a, h1{
    text-decoration: none;
    font-size: 48px;
    background: transparent;
    border: none;
    margin: 15px;
}

.left-side-template input{
    background: transparent;
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.right-side-template{
    order: 2;
}