:host ::ng-deep .p-dialog {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-dialog .p-dialog-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-footer {
  display: flex;
  justify-content: flex-end;
}

div {
  margin: 8px;
}

.decide-button{
  margin: 5px;
}
